{% extends 'base.html.twig' %}

{% block title %}Hello ResettingController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<p>
    Bonjour, <br>
    <br>
    Cliquez sur ce lien pour changer votre mot de passe. <br>
    {# pour que le lien fonctionne, il est indispensable que le lien soit absolu. #}
    <a href="{{absolute_url(path('resetting', {'id': user.id, 'token': user.token}))}}">Changer le mot de passe</a>
</p>

{% endblock %}
